.adminit-card.mdl-card {
  margin: 15px;
  margin-left: auto;
  margin-right: auto;
}

.adminit-card> .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
  font-size: 0.8em;
}

.mdl-layout__header-row>.logo, .mdl-layout__drawer>.logo{
    vertical-align: middle;
    margin: 0.5em;
}